* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

li,
a {
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;

}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 67.5px;
}

h2 {
    font-size: 34.2px;
    color: #fff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    color: #072f53;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 32.2px;
}

h4 {
    font-size: 23.4px;
    font-family: 'Open Sans', sans-serif;
    color: #072f53;
}

h5 {
    font-size: 18.9px;
    color: #072f53;
    font-family: 'Open Sans', sans-serif;
}

h6 {
    font-size: 16.2px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 20.7px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
}

button:hover {
    background-color: rgba(218, 165, 32, 0.579);
}

button {
    width: 90%;
    height: 50px;
    margin-top: 1rem;
    background-color: goldenrod;
    border: none;
    outline: none;
    font-weight: bold;
    color: #072f53;
    font-size: 20.7px;
    border-radius: 2px;
}

/* ---Nav-section Start-- */
nav.sticky {
    background-color: #072f53;
    transition: .3s ease;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    top: 0;
    z-index: 999;
    left: 0;
    position: fixed;
    justify-content: space-evenly;
    color: white;

}

.menubar .first {
    transform: translateY(10px);
    transition: .2s linear;
}

.menubar .third {
    transition: .2s linear;
    transform: translateY(-10px);
}

.menubar .menu {
    width: 25px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
}

.menubar.click .second {
    display: none;
    transition: .2s linear;
}

.menubar.click .third {
    transform: translateY(0)rotate(-45deg);
    transition: .2s linear;

}

.menubar.click .first {
    transform: translateY(0)rotate(45deg);
    transition: .2s linear;
}

.menubar {
    width: 45px;
    height: 45px;
    position: absolute;
    display: none;
    cursor: pointer;
    justify-content: center;
    background-color: #072f53;
    align-items: center;
}

.left-nav {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-nav img {
    width: 30%;
    height: 40px;
}

.right-nav {
    width: 60%;
}

.right-nav .navlist {
    height: 80px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.right-nav .navlist .list-item a:hover,
.right-nav .navlist .list-item a.active {
    color: goldenrod;
}

.right-nav .navlist .list-item a {
    color: #fff;
}

.right-nav .navlist .list-item {
    padding: .2rem .5rem;
    margin-inline: .5rem;
    font-size: 1.2rem;
    cursor: pointer;
}
/* ---Nav-section End--- */
/* --Main-section ---  */
.hero-section {
    width: 100%;
    background: url(./Rectangle\ 1.jpg);
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.h {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.hero1 {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.he {
    width: 100%;
    height: 100vh;
    top: 0;
    position: absolute;
    display: flex;

    align-items: center;
    justify-content: center;

}

.move-120 {

    transform: translateX(-120%);
}

.move120 {
    transform: translateX(120%);
}

.move-240 {
    transform: translateX(-240%);

}

.move240 {
    transform: translateX(240%);

}

.move0 {
    transform: translateX(0%);
}

.hero-desc {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    color: white;
    z-index: 99;
    transition: .5s;
}

.hero-desc p {
    width: 60%;
    text-align: center;
    margin-block: 1rem;
}

.hero-desc .btn:hover {
    background-color: rgba(218, 165, 32, 0.579);
}

.hero-desc .btn {
    width: 200px;
    height: 50px;
    background-color: goldenrod;
    color: #072f53;
    font-weight: bold;
    border: none;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
}

.checkbox {
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    bottom: 10%;
    z-index: 99;
}

.checkbox span.s {
    background-color: #ffffffa2;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.897);
}

.checkbox span {
    width: 12px;
    cursor: pointer;
    height: 12px;
    background-color: rgba(149, 145, 145, 0.221);
    border: 1px solid rgba(245, 245, 245, 0.175);
    border-radius: 50%;
}
/* --Main-section End--- */
/* --Subscriber-section Start --  */
.subscriber{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subscriber h2{
    color: #072f53;
    margin-bottom: .5rem;
}
.sb-des{
    height: 20vh;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.sb-container .left{
    left:2%;
}
.sb-container .right{
    right: 4%;
}
.sb-container .arrow{
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50px);
    width: 30px;
    height: 50px;
}
.sb-container{
    width: 75%;
    height: 70vh;
    display: flex;
    z-index: 99;
    overflow: hidden;
    justify-content: center;
    position: relative;
}
.sb img{
    height: 60vh;
}
.sub1,.sub2,.sub3,.sub4{
    position: absolute;
    cursor: pointer;
    height: 60vh;
}
.sub1{
    left: 15%;
    opacity: 1;
    transition: .2s linear;
}
.sub2{
    left: 40%;
    transition: .2s linear;
}
.sub3{
    left: 65%;
    transition: .2s linear;
}
.sub4{
    left: 92%;
    opacity: 0;
    transition: .2s linear;
}
.sb{
    width: 85%;
    display: grid;
    align-items: center;
    overflow: hidden;
    grid-template-columns: repeat(4,1fr);
}
.scroll-100{
    left: -14%;
    opacity: 0;
    transition: .2s linear;
}
.scroll-15{
    transition: .2s linear;
    left: 15%;
}
.scroll-40{
    left: 40%;
    transition: .2s linear;
}
.scroll-65{
    left: 65%;
    opacity: 1;
    transition: .1s linear;
}


/* Subscriber-section End --  */
/* Trail-section Start-- */
.trial {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #072f53;
}

.left {
    height: 75vh;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left li {
    position: relative;
    margin-left: .9rem;
    color: #fff;
    margin-block: .5rem;
    display: flex;
    align-items: center;
}

.left li::before {
    content: "";
    width: 8px;
    height: 8px;
    left: -15px;
    position: absolute;
    background-color: goldenrod;
    
}

.left p {
    font-size: 18.9px;
    margin-block: .5rem;
    color: #fff;
}

.right {
    height: 75vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right .img {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50vh;
}

.right img {
    height: 42vh;
    width: 80%;
}

.right button:hover {
    background-color: rgba(218, 165, 32, 0.732);
}
/* --Trail-section End--  */
/* Intro-section Start-- */
.intro {
    height: 110vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.intro-container {
    height: 60vh;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-intro {
    width: 60%;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: .7rem;
}

.left-intro p {
    font-size: 18.9px;
    margin-block: .7rem;
}

.left-intro h6 {
    font-size: 18.9px;
    color: goldenrod;
}

.right-intro {
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-intro img {
    height: 48vh;
    width: 98%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;

}

.intro-des {
    width: 75%;
    height: 45vh;
    display: grid;
    gap: 0px 30px;
    grid-template-columns: repeat(3, 1fr);
}

.des {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.des .images img {
    width: 30px;
    height: 30px;
    mix-blend-mode: multiply;
}

.des .images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.des h4 {
    margin: 2.5rem 0 0 0;
}

.des p {
    margin-top: 1rem;
}

.images::before {
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: goldenrod;
    z-index: -1;
    position: absolute;
}
/* Intro-section End--  */
/* Joining-section Start --  */

.join-free {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #072f53;
}

.left-join h5 {
    color: #fff;
    margin-block: 1rem;
}

.left-join h6 {
    color: goldenrod;
}

.left-join {
    width: 40%;
    height: 50vh;
}

.right-join {
    width: 35%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-join li {
    position: relative;
    margin-left: .9rem;
    color: #fff;
    margin-block: .5rem;
    display: flex;
    align-items: center;
}

.left-join li::before {
    content: "";
    width: 8px;
    height: 8px;
    left: -15px;
    position: absolute;
    background-color: goldenrod;

}
/* joining-section End--- */
/* About-section Start---  */

.nifty {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nifty .left img {
    height: 46vh;
    width: 98%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

.nifty .left {
    width: 30%;
    height: 65vh;
}

.nifty .right button:hover {
    background-color: #072f53d5;
}

.nifty .right button {
    width: 50%;
    font-size: 19px;
    background-color: #072f53;
    color: goldenrod;
}

.nifty .right {
    width: 45%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 1rem;
    align-items: start;
}

.nifty .right p {
    margin-block: .2rem;
}

.nifty .right h2,
.nifty .right h3 {
    color: #072f53;
    font-weight: normal;
    margin-block: .4rem;
}

.nifty .right h2 span {
    font-weight: bold;
}
/* About-section  Ebd ---  */
/* Footer-section Start ---  */

.footer{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #072f53;
    color: #fff;
}
.footer-box h6{
    margin-top: .2rem;
}
.footer-box h4{
    color: #fff;
}
.footer-box{
    width: 76%;
    height: 30vh;
    display: flex;
    align-items: center;
}
.right-footer{
    width: 55%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.left-footer{
    width: 45%;
}
.footer-container h4{
    color: goldenrod;
}
.footer-container{
    width: 100%;
}
.copyright{
    width: 76%;
    height: 30vh;
}
.copyright1{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright2{
    height: 20vh;
    justify-content: center;
    align-items: center;
}
/* Footer-section End --  */


















@media (max-width:1200px) {
    h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 53px;
    }

    h2 {
        font-size: 28.2px;
        color: #fff;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }

    h3 {
        color: #072f53;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        font-size: 26.2px;
    }

    h4 {
        font-size: 18.4px;
        font-family: 'Open Sans', sans-serif;
        color: #072f53;
    }

    h5 {
        font-size: 14.9px;
        color: #072f53;
        font-family: 'Open Sans', sans-serif;
    }

    h6 {
        font-size: 12.2px;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
    }

    p {
        font-size: 20.4px;
    }


    .right-nav .navlist {
        width: 100%;

    }

    .hero-desc p {
        width: 70%;
    }

    .hero-desc .btn {
        width: 160px;
        height: 45px;
        background-color: goldenrod;
        color: white;
        border: none;
        font-size: 1rem;
        outline: none;
        cursor: pointer;
        border-radius: 2px;
    }

    .left p {
        font-size: 14.9px;
    }

    .left,
    .right {
        width: 45%;
    }

    .right img {
        width: 68%;
        height: 38vh;
    }

    .intro-container,
    .intro-des {
        width: 90%;
    }

    .intro-des {
        height: 40vh;
        gap: 0px 25px;
    }

    .left-join,
    .right-join {
        width: 45%;
    }

    .nifty {
        height: 80vh;
    }

    .nifty .left,
    .nifty .right {
        width: 45%;
        height: 68vh;
    }

    .nifty .right button,
    .right-join button {
        width: 55%;
        font-size: 13px;
    }
    .footer-box{
        width: 90%;
    }
    .copyright{
        width: 90%;
    }
    .sb-des{
        width: 90%;
    }
    .sb{
        width: 90%;
    }
    .sb-container{
        width: 100%;
    }
    

}

@media(max-width:900px) {
    h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 47.5px;
    }

    h2 {
        font-size: 20.2px;
        color: #fff;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }

    h3 {
        color: #072f53;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        font-size: 25.2px;
    }

    h4 {
        font-size: 15.4px;
        font-family: 'Open Sans', sans-serif;
        color: #072f53;
    }

    h5 {
        font-size: 13.9px;
        color: #072f53;
        font-family: 'Open Sans', sans-serif;
    }

    h6 {
        font-size: 10.2px;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
    }

    p {
        font-size: 12.7px;
        font-weight: lighter;
        font-family: 'Open Sans', sans-serif;
    }

    .left-intro h6 {
        font-size: 15px;

    }

    .left-intro p {
        font-size: 15px;
        margin-block: .3rem;
        padding-right: .5rem;
    }

    .left li::before {
        content: "";
        width: 6px;
        height: 6px;
        left: -12px;
        position: absolute;
        background-color: goldenrod;

    }

    .nifty {
        height: 65vh;
    }

    .nifty .right,
    .nifty .left {
        height: 48vh;
    }

    .nifty .right button,
    .right-join button {
        width: 60%;
        font-size: 12px;
        height: 40px;
    }
    .sb-container .left{
        left:1%;
    }
    .sb-container .right{
        right: 1%;
    }
    .sb-container .arrow{
      
        width: 25px;
        height: 30px;
    }
    
    
   
}

@media (max-width:768px) {
    h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 37.5px;
    }

    h2 {
        font-size: 17.2px;
        color: #fff;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }

    h3 {
        color: #072f53;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        font-size: 22.2px;
    }

    h4 {
        font-size: 12.4px;
        font-family: 'Open Sans', sans-serif;
        color: #072f53;
    }

    h5 {
        font-size: 11.9px;
        color: #072f53;
        font-family: 'Open Sans', sans-serif;
    }

    h6 {
        font-size: 12px;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
    }

    p {
        font-size: 14.7px;
        font-weight: lighter;
        font-family: 'Open Sans', sans-serif;
    }

    nav {
        justify-content: start;
        align-items: center;
    }

    .left-nav img {
        width: 60%;
    }

    .menubar {
        right: 5%;
        display: flex;
    }

    .hero-desc .btn {
        width: 150px;
        height: 40px;
        font-size: 1rem;
        color: #072f53;


    }

    .right img {
        height: 35vh;
        width: 80%;
    }

    .right button {
        width: 90%;
        height: 40px;
        font-size: .9rem;

    }


    .right-nav.open {
        height: 40vh;
        transition: .3s ease;
    }

    .right-nav {
        width: 100%;
        position: absolute;
        height: 0vh;
        transition: .3s ease;
        overflow: hidden;
        top: 70px;
        z-index: 1000;
        display: flex;
        background-color: #072f53;
        justify-content: center;
        align-items: center;
    }

    .hero-desc {
        z-index: 1;
    }

    .right-nav .navlist .list-item {
        padding: .2rem 1rem;
        margin-block: .8rem;
    }

    .right-nav .navlist {
        height: 40vh;
        justify-content: center;
        flex-direction: column;
    }

    .join-free {
        flex-direction: column;
    }

    .left-join {
        width: 90%;
        height: 35vh;

    }

    .right-join {
        width: 90%;
        height: 10vh;
    }

    .nifty {
        height: 80vh;
        flex-direction: column;
    }

    .nifty .right {
        height: 35vh;
        width: 90%;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .nifty .left img {
        width: 100%;
        height: 100%;
    }

    .nifty .left {
        width: 90%;
        height: 35vh;
    }

    .nifty .right button,
    .right-join button {
        width: 40%;
        font-size: 12px;
        height: 40px;
    }
    .footer{
        height: 100vh;
    }
    .footer-box{
        flex-direction: column;
        align-items: start;
        height: 55vh;
    }
    .left-footer{
        width: 90%;
        height: 35vh;
    }
    .right-footer{
        width: 100%;
        height: 45vh;
        gap: 20px 0px;
        grid-template-columns: repeat(1,1fr);
    }
    .sb img{
        height: 50vh;
    }
    .sub1,.sub2,.sub3,.sub4{
        height: 50vh;
    }
    .sb,.sb-container{
        height: 60vh;
    }
    .sub1{
        left: 12%;
        
    }
    .sub2{
        left: 39%;
    }
    .sub3{
        left: 67%;
    }
    .sub4{
        left: 92%;
    }
    .scroll-100{
        left: -14%;
        opacity: 0;
        transition: .2s linear;
    }
    .scroll-15{
        transition: .2s linear;
        left: 15%;
    }
    .scroll-40{
        left: 40%;
        transition: .2s linear;
    }
    .scroll-65{
        left: 65%;
        opacity: 1;
        transition: .1s linear;
    }
    

}

@media (max-width:600px) {
    h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 28.5px;
    }

    h2 {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }

    h3 {
        color: #072f53;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        font-size: 19.2px;
    }

    h4 {
        font-size: 11px;
        font-family: 'Open Sans', sans-serif;
        color: #072f53;
    }

    h5 {
        font-size: 15px;
        color: #072f53;
        font-family: 'Open Sans', sans-serif;
    }

    h6 {
        font-size: 12px;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
    }

    p {
        font-size: 13px;
        font-weight: lighter;
        font-family: 'Open Sans', sans-serif;
    }

    .left-join {
        height: 38vh;

    }

    .left-join li {
        font-size: 12px;
    }

    .intro {
        height: 125vh;
    }

    .intro-container {
        height: 90vh;
        flex-direction: column;
    }

    .left-join li {
        font-size: 12px;
    }

    .left-intro p {
        font-size: 15px;
    }

    .left-intro h6 {
        font-size: 18px;

    }

    .left-intro {
        width: 98%;
        height: 40vh;
    }

    .right-intro {
        width: 98%;
        height: 40vh;
    }

    .right-intro .img {
        width: 100%;
        height: 38vh;

    }

    .right-intro img {
        width: 100%;
        height: 35vh;

    }

    .hero-desc p {
        width: 80%;
    }

    .right button {
        width: 50%;
        height: 40px;
        font-size: .9rem;

    }










    .trial {
        flex-direction: column;
        height: 130vh;

    }

    .left {
        width: 90%;
        height: 65vh;

    }

    .right {
        width: 90%;
        height: 55vh;

    }

    .right .img {
        height: 40vh;
    }

    .right img {
        width: 50%;
        height: 30vh;
    }

    .nifty .right button {

        font-size: 10px;

    }
    .sub1{
        left: 9%;
        
    }
    .sub2{
        left: 52%;
    }
    .sub3{
        left: 95%;
        opacity: 0;
    }
    .sub4{
        left: 105%;
    }
    .scroll-100{
        left: -30%;
        opacity: 0;
        transition: .2s linear;
    }
    .scroll-15{
        transition: .2s linear;
        left: -41%;
    }
    .scroll-40{
        left: 9%;
        opacity: 1;
        transition: .2s linear;
    }
    .scroll-65{
        left: 52%;
        opacity: 1;
        transition: .1s linear;
    }
    .subscriber{
        height: 80vh;
    }
    .sb img{
        height: 40vh;
    }
    .sub1,.sub2,.sub3,.sub4{
        height: 40vh;
    }
    .sb,.sb-container{
        height: 50vh;
    }
    .sb-container .arrow{
       
        width: 20px;
        height: 20px;
    }
    
    
}

@media (max-width:480px) {
    h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
    }

    h2 {
        font-size: 13px;
        color: #fff;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }

    h3 {
        color: #072f53;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
    }

    h4 {
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        color: #072f53;
    }

    h5 {
        font-size: 12px;
        color: #072f53;
        font-family: 'Open Sans', sans-serif;
    }

    h6 {
        font-size: 12px;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
    }

    p {
        font-size: 11px;
    }
    .checkbox span{
        width: 9px;
        height: 9px;
    }

    .hero-desc p {
        width: 90%;
    }

    .left li {
        font-size: 12px;
    }

    .left p {
        font-size: 12px;
    }

    .right button {
        width: 60%;
    }

    .intro {
        height: 170vh;
    }

    .left-intro {
        height: 48vh;
    }

    .intro-des {
        grid-template-columns: repeat(1, 1fr);
        height: 100vh;
    }

    .des {
        height: 25vh;
    }

    .images::before {
        width: 70px;
        height: 70px;
    }

    .des h4 {
        margin: 1.7rem 0 0 0;
    }

    .des p {
        margin-top: .7rem;
    }

    .hero-desc .btn {

        font-size: .8rem;


    }

    .nifty .right button,
    .right-join button {
        width: 55%;
        height: 40px;
    }




}
@media (max-width:300px){
    h1{
        font-size: 16px;
    }
    .footer{
        height: 105vh;
    }
    .copyright{
        height: 35vh;
    }
}